[user]
	email = akmadian@gmail.com
	name = akmadian
	signingkey = 4F2699AB41C34E78

[credential]
	helper = store

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[alias]
	p = push
	cam = commit -a -m