[user]
	email = akmadian@gmail.com
	name = Ari Madian
        signingkey = E4AE09E54301AB26

[github]
	user = akmadian

[credential]
	helper = store

[commit]

[tag]

[grep]
	lineNumber = true

[alias]
	p = push
	c = commit -a -m
