[user]
	email = akmadian@gmail.com
	name = akmadian
	signingkey = 4F2699AB41C34E78

[github]
	user = akmadian

[credential]
	helper = store

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[grep]
	lineNumber = true

[alias]
	p = push
	c = commit -a -m