*

# Explicitly ignore bare location to avoid recursion issues
repos/dotfiles

!.config/dwm/*
!.config/nvim/*
!.config/fish/*

# Yeah. Apparently all of this is necessary to except .local/bin
!.local
!.local/
!.local/bin
!.local/bin/
!.local/bin/*

# These are from other programs, not my own scripts
.local/bin/epylint
.local/bin/isort*
.local/bin/pip*
.local/bin/pylint
.local/bin/pyreverse
.local/bin/symilar
.local/bin/wheel
.local/bin/youtube-dl

!.xinitrc
!.gitconfig

.config/dwm/__*
